@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald&display=swap');

.title {
    text-align: center;

    h1 {
        font-size: 5vh;
        font-family: 'Oswald', sans-serif;
    }
}

.coreContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    p {
        text-align: center;
    }

    p:nth-child(1) {
        font-size: 2vh;
        font-family: 'Noto Sans JP', sans-serif;
    }

    p:nth-child(2) {
        font-size: 1.5vh;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    p {
        text-align: center;
    }
}